*{
	box-sizing: border-box;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


body {
    height: 100vh;
    width: 100vw;
    min-width: 60vw;
    background-color: lightcoral;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

section {
    height: 100vh;
    width: 100vw;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
    margin: 3px;
    border: dashed 5px grey;
    background-color: white;
}

.game-div {
    height: 100vh;
    width: 80vw;
    display: flex;
    text-align: center;
    align-items: center;
    border: solid yellow;
}

img {
    height: 35%;
    width: 50%;
    border-radius: 50px;
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    background-color: pink;
}

  
input {
    display: none;
}

input:checked + img {
    border: rgba(206, 72, 23, 0.671) 5px solid;
}

label {
    margin: 10px;
}

.button {
    margin: 2%;
    font-size: 1rem;
    background-color: palegreen;
    border-radius: 30px;
}

.reset-button {
    margin-top: 5%;
    font-size: 1rem;
    background-color: red;
    border-radius: 30px;
}